# MySQL Database Credentials
MYSQL_ROOT_PASSWORD=SuperSecretRootPass123!
MYSQL_DATABASE=mirov_db
MYSQL_USER=mirov_user
MYSQL_PASSWORD=SuperSecretUserPass123!

# App Configuration
CLIENT_URL=http://localhost
JWT_SECRET=7604b693d1d31460c7b59bb5ce211c8e010bfe8b9f5e3f8649730b796acac74b
